.banner{
    background-color: bisque;
    border: none;
    border-radius: 10px;
    width: 350px;

}
body{
    background-color: darkturquoise;
    display: flex;
    justify-content: left;
    align-items: center;

}
.banner h1{
    font-family: Chandas;
    color: blue;
    text-decoration: underline;
}
.banner input{
    width: 70%;
    position: relative;
    margin: 10px 10px;
    height: 20px;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
    padding: 1px;
}
.button{
    color: white;
    padding: 10px;
}
.banner label{
    margin:10px 20px;
}
.button button{
    padding: 10px 20px;
    color: white;
    background-color: black;
}
.one{
    border-radius: 10px;
    background-color: bisque;
}
.one label {
     margin: 10px 10px;
}
.one input{
    padding: 1px;
    margin: 10px 20px;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}
.one h1{
    text-decoration: underline;
    color: black;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height:100% ;
    color: darkturquoise;
    background-color: darkturquoise;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: cornsilk;
    position: relative;
}
.content.par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: left;
}
.content h1{
    font-family: "Abyssinica SIL";
    font-size: 50px;
    padding-left: 50px;
    margin-top: 9px;
    text-align: left;

}
.content cn{
    width: 100px;
    height: 40px;
    background-color: cornsilk;
}
.content.cn a{
    text-decoration: none;
    color: black;
}
.content.cn:hover{
  background-color: black;
  color: black;
}
.content span{
     color: black;
}
.form{
    width: 250px;
    height:300px;
    background-color: darkcyan;
    position: absolute;
    top: 50px;
    left: 900px;
    border-radius: 10px;
    padding-left: 25px;
}
.form h2{
    width:200px;
    font-family: Chandas;
    text-align: center;
    color: blue;
    font-size: 18px;
    background-color: cornsilk;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
}
.form input{
    width: 200px;
    height: 35px;
    background-color: transparent;
    border-radius: 10px;
    border-top: none;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
}
.form input:focus{
    outline:none;
}
::placeholder{
    color:white;
    font-family: sans-serif;
}
.btn{
    width: 200px;
    height: 20px;
    background:black;
    border: none;
    font-size: 14px;
    background-color: black;
    border-radius: 10px;
    cursor:pointer;
}
.btn:hover{
    text-decoration:none;
    color: blue;
}
.form .link a{
    text-decoration:none;

}

